# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env

# Django
db.sqlite3
**/migrations/*.pyc
**/migrations/__pycache__/

# Docker
*.log
*.pid
*.db
*.sock
docker-compose.override.yml
volumes/
postgres_data/
staticfiles/
media/

# Virtualenv
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# data fies
*.csv
*.png
*.ttf
